body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

@keyframes bounce-custom {
    0%, 100% {
        top: 20px; 
    }
    50% {
        top: -20px; 
    }
}

.animate-bounce-custom {
    animation: bounce-custom 3s ease-in-out infinite; 
}
#img-blurs{
    animation: img-blurs 2.5s ease-in-out infinite;
}
@keyframes img-blurs {
    0%, 100% {
        filter: blur(0px); 
    }
    50% {
        filter: blur(4rem); 
    }
}

.top-btn {
    opacity: 0;               
    visibility: hidden;       
    transition: opacity 0.6s ease, visibility 0.6s ease; 
}

.top-btn.show {
    opacity: 1;           
    visibility: visible;    
}